.nav-item a, .nav-item a:hover {
  color: white;
}

.nav-item a:hover {
  background-color: #495057;
}

header {
  display: flex;
  align-items: flex-end;
  
}

.headerContainer {  
  height: 50vh;
  width: 100%;
  background-size:cover;
}